[submodule "Grounded-SAM-2"]
	path = Grounded-SAM-2
	url = git@github.com:IDEA-Research/Grounded-SAM-2.git
[submodule "Grounded-Segment-Anything"]
	path = Grounded-Segment-Anything
	url = git@github.com:IDEA-Research/Grounded-Segment-Anything.git
[submodule "OpenWorldSAM"]
    path = OpenWorldSAM
    url = git@github.com:GinnyXiao/OpenWorldSAM.git
